# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
README.md
build
examples
node_modules
docker
docker-compose.yml
docs
Dockerfile.acr
'*.md'
.git
.github
.vscode
.gitignore
.gitpod.yml
.eslintignore
build/
.DS_Store


/db/*.sqlite3
/storage/db/*.sqlite
/node_modules
/coverage
/doc
/.git
/.github
/.bundle
/.yardoc

/log/*
/tmp/*

!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
.byebug_history

.env
yarn-error.log
lerna-debug.log
/.vscode
/.idea
*.sqlite
Dockerfile.zain
Dockerfile.zain2
/examples
CHANGELOG.md
README.md
LICENSE-AGPL
LICENSE-APACHE-2.0
.git/
/.github/


